*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppons', sans-serif;
   
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, blue, purple);
    padding: 10px;
    
    
}

.to-do{
    width: 100vb;
    
    font-size: 2rem;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3rem; 
}
svg{
    height: 2rem;
    margin-left: 3rem;
}